<html>
  <head>
  <title>Home</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <style type="text/css">
    .user_info,.user_info p{
      background: green;
      border: 2px solid black;
      color: white;
    }
  </style>

  <script>
      $(document).ready(function (){
         
      });//------------------end of jquery
  </script>
</head>
<body class="container">
 <div class="row">
  <div class="col-md-5 user_info">
  
  </div>
 </div>
    <h3>Submit the form</h3>
  <div class="row">
   <div class="col-md-5">
     <form action="/users" id="survey_form" class="form-horizontal" method="post">​
        <div class="form-group">​
          <label for="name" class="col-sm-5">Your Name:</label>​
          <input type="text" name="name" id="name"/>​
        </div>​
        <div class="form-group">​
          <label for="age" class="col-sm-5">Age</label>​
          <input type="text" name="age">
        </div>​
        <input type="submit" class="btn btn-primary pull-right" />​
        <div class="clearfix"></div>​
      </form>​
   </div> 
  </div>   
 
    <!-- web page goes here -->
</body>
</html>